* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

input,
button {
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    position: sticky;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 99999;
}

header button {
    background-color: transparent;
    border: none;
}

.list-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.order-card {
    box-shadow: 0 0px 8px rgba(0, 0, 0, .2);
    width: 100%;
    border-radius: .5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.order-card>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.order-card>div img {
    height: 50px;
    width: 50px;
    border-radius: 5rem;
    object-fit: cover;
}


.order-card>div h4 {
    color: #333;
}

.order-card>div p {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .4);
    font-weight: 600;
}

.success {
    background-color: green;
    height: 3rem;
    width: 3rem;
    border-radius: 50rem;
    opacity: .8;

}

.danger {
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 50rem;
    opacity: .8;
}

.store-title {
    margin: 2rem 1rem;
    font-size: 1.8rem;
    color: #333;
}

.main-title {
    color: rgba(0, 0, 0, .7);
    margin: 2rem 1rem;
    font-size: 1.5rem;
}

.background {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    height: 100vh;
}


.login {
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.logo {
    /* margin-top: 200px; */
    width: 40%;
    margin-bottom: 5rem;
}

.login .input-form {
    background-color: #fff;
    border-radius: 1rem;
    border: none;
    height: 3rem;
    width: 90%;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 4.5rem;
}

.login .input-form i {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.58);
}

.login .input-form input {
    all: unset;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
}

.home-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-principal,
.btn-secondary {
    border: none;
    border-radius: 1rem;
    min-width: 75%;
    display: block;
    height: 35px;
    z-index: 99;
    color: #333;
}

.home-buttons .btn-principal {
    width: 90%;
    height: 4.5rem;
    background-color: #fdbd00;
    font-weight: 500;
    font-size: 1.4rem;
}


.login-copy {
    margin-bottom: 5rem;
}